* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

.adaptive {
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: lfr 300px;
  gap: 10px;
}

body {
  margin: 0;
  font-family: "Inter Tight", sans-serif;
  background: #576f35;
  font-size: 16px;
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.header__menu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: 200ms ease-in-out;
}

.header__menu.active {
  z-index: 4;
  pointer-events: all;
  opacity: 1;
}

.header__overlay {
  width: 100%;
  height: 100%;
  background-color: #14141466;
  position: absolute;
}

.header__content {
  background: #7a3145;
  height: 100%;
  width: 351px;
  position: absolute;
  right: 0;
}

/*Шапка страницы*/

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px 100px 0;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 15em;
  height: auto;
}

/*Панель навигации*/

.nav {
  font-size: 2em;
}

.nav_link {
  color: #fbfbfb;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;

  transition: color 0.2s linear, border 0.2s linear;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 10px;

  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  justify-content: center;
}

.nav_burger {
  display: none;
}

.nav_link:hover {
  color: #7a3145;

  border: 1px solid #7a3145;
  border-radius: 12px;
  padding: 10px;

  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
}

.button_shop {
  text-decoration: none;
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  display: inline-block;
  vertical-align: top;

  border-radius: 30px;
  padding: 10px 32px;
  background: #7a3145;

  transition: color 0.2s linear, background 0.2s linear;
}

.button_shop:hover {
  text-decoration: none;
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  color: #7a3145;
  display: inline-block;
  vertical-align: top;

  border-radius: 30px;
  padding: 10px 32px;
  background: #fbfbfb;
}

/*Блок 1*/

.intro {
  display: flex;
}

.intro__container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 28px;
  padding-left: 100px;
}

.intro__inner {
  display: flex;
  flex-direction: column;
  gap: 128px;
  padding-bottom: 50px;
}

.img-basket {
  width: 50%;
  height: auto;
  aspect-ratio: 650 / 800;
}

.welcome {
  font: 600 76px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.description {
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  color: #fbfbfb;
  padding-right: 30px;
}

/*Бургер меню*/

.header__content {
  display: flex;
  flex-direction: column;
}

.header__content-top {
  padding-right: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.header__content-mid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  padding-top: 240px;
}

.nav_link_menu {
  text-decoration: none;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 24px;
  width: 130px;
  height: 42px;

  font: 500 14px / 1.28571 "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  transition: color 0.2s linear, border 0.2s linear;
}

.nav_link_menu:hover {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 16px;
  width: 130px;
  height: 42px;

  font: 500 14px / 1.28571 "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  color: #7a3145;

  background: #fbfbfb;
}

.header__content-bottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  padding-top: 400px;
}

.button_shop_menu {
  border-radius: 30px;
  padding: 16px 41px;
  width: 155px;
  height: 50px;
  background: #fbfbfb;

  font: 600 14px / 1.28571 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #7a3145;
}

/*Блок 2*/

.intro .container {
  width: 50%;
  background-color: #576f35;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.intro .container.last {
  background-color: #7a3145;
}

.intro__last {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.left-img {
  width: 100%;
}

.intro__top {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.intro__top p {
  font: 600 32px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.description {
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  color: #fbfbfb;
}

.intro__bot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.visibility {
  opacity: 0.3;
}

.block {
  border-radius: 15px;
  padding: 12px 24px 12px 24px;
  width: 100%;
  height: 76px;
  background: #fbfbfb;
  overflow: hidden;
  float: right;
  display: flex;
  align-items: center;
}

.block.last {
  float: right;
  margin-top: 2%;
}

.block_circle {
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}

.block_content {
  overflow: hidden;
}

.bold {
  font: 700 16px / 1.25 "Inter Tight", sans-serif;
  color: #141414;
}

/*Блок 3*/

.white__block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  background: #fbfbfb;
}

.white__txt {
  font: 600 76px / 1.05263 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.white {
  color: #fbfbfb;
  border-radius: 12px;
  width: 808px;
  height: 86px;
  background: #576f35;
}

.container__white {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

/*Блок 4*/

.vegetables {
  width: 100%;
  background: #7a3145;
  padding-bottom: 100px;
}

.container__veg {
  padding-left: 100px;
  padding-right: 50px;
}

.vegetables__last {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.vegetables__top {
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
  padding-right: 554px;
}

.vegetables__top p {
  font: 600 64px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.vegetables__description {
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  color: #fbfbfb;
}

/*Карточки*/

.vegetables__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-right: 0px;
  flex-direction: row;
  gap: 21px;
}

.card {
  border-radius: 40px;
  padding: 32px;
  width: 30%;
  background: #fbfbfb;
}

.card_name {
  font: 600 32px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: #7a3145;
}

.price {
  padding-top: 12px;
  font: 600 14px / 1.28571 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.card_jpg {
  width: 100%;
}

/* Блок 5 */

.Advertisement {
  float: left;
  width: 100%;
  background: #fbfbfb;
  padding-bottom: 100px;
}

.adv__txt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
}

.adv_h1 {
  font: 600 64px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.green {
  color: #576f35;
}

.adv_h2 {
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  color: #141414;
}

.container__rev {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.reviews {
  padding-top: 50px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  gap: 25px;
}

.rev {
  border: 1px solid rgba(122, 49, 69, 0.3);
  border-radius: 24px;
  padding: 10px;
  width: 30%;

  background: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.photo {
  border-radius: 72px;
  padding: 12px;
  width: 56px;
  height: 56px;
}

.rev_name {
  font: 600 18px / 1.1 "Inter Tight", sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  color: #141414;
}

.rev_about {
  font: 500 16px / 1.4 "Inter Tight", sans-serif;
  text-align: center;
  color: rgba(20, 20, 20, 0.4);
}

/* Блок 6 */

.order {
  float: left;
  width: 100%;
  background: #7a3145;
}

.container__order {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.order__txt {
  padding-left: 0px;
  padding-right: 0px;
}

.order_h1 {
  font: 600 64px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.order_h2 {
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  color: #fbfbfb;
  margin-top: 25px;
}

.form_soc {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;

  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 50px;
  width: 50%;
  background: #fbfbfb;
}

.form_h1 {
  font: 600 24px / 1.08333 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.purple {
  font: 600 24px / 1.08333 "Inter Tight", sans-serif;
  color: #7a3145;
}

.forma {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.name,
.email {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding-left: 5%;
  width: 100%;
  height: 52px;
}

.comment {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding-left: 5%;
  padding-top: 6px;
  min-width: 100%;
  max-width: 100%;
  height: 60px;
}

.submit {
  border-radius: 30px;
  padding: 16px 0;
  width: 100%;
  height: 52px;
  background: #576f35;
  font: 600 18px / 1.11111 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  text-align: center;
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  padding: 50px;
  width: 50%;
  background: #576f35;
}

.social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  padding: 50px;
  width: 50%;
  background: #576f35;
}

.social1 {
  border-radius: 30px;
  width: 100%;
}

.follow {
  font: 600 18px / 1.11111 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.soc,
.instagram,
.facebook,
.youtube {
  font: 600 32px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

/*Подвал*/

.footer {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  gap: 125px;

  background-color: #7a3145;
}

.footer__top-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;

  padding-right: 320px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__top-contacts {
  display: flex;
  gap: 121px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__top-txt {
  font: 500 16px / 1.25 "Inter Tight", sans-serif;
  color: #fbfbfb;
}

.footer__top-contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 121px;

  width: 100%;
}

.footer__top-contacts-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;

  width: 100%;
}

.nav_link_footer {
  font: 600 32px / 1 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;
}

.footer__top-contacts-adress {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
}

.footer__number {
  font: 600 18px / 1.11111 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer_addres {
  font: 600 18px / 1.11111 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer__bottom {
  font: 500 18px / 1.11111 "Inter Tight", sans-serif;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

@media (max-width: 1200px) {
  .adaptive {
    width: 1000px;
    grid-template-columns: lfr 280px;
  }
}

@media (max-width: 1000px) and (min-width: 768px) {
  .adaptive {
    width: 768px;
    grid-template-columns: lfr 250px;
  }

  header {
    padding: 20px 22px 0px;
  }

  .intro .container {
    width: 50%;
    background-color: #576f35;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  .vegetables__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 28px;
  }

  .card {
    border-radius: 40px;
    padding: 32px 30px;
    width: 40%;
    background: #fbfbfb;
  }

  .vegetables__top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    padding-right: 110px;
    padding-left: 80px;
  }

  .vegetables__top p {
    padding-top: 50px;
    font: 600 64px / 1 "Inter Tight", sans-serif;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }

  .vegetables__description {
    font: 500 16px / 1.25 "Inter Tight", sans-serif;
    color: #fbfbfb;
    padding-top: 25px;
  }

  .container__white {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .container__veg {
    padding-left: 32px;
    padding-right: 32px;
  }

  .vegetables__top {
    padding-left: 0px;
  }

  .vegetables__top p {
    padding-top: 0px;
  }

  .vegetables__cards {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }

  .container__rev {
    padding-left: 32px;
    padding-right: 32px;
  }

  .container__order {
    padding-left: 32px;
    padding-right: 32px;
  }

  .form_soc {
    padding-left: 38px;
    padding-right: 38px;
  }

  .footer__top-contacts-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;

    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav_link,
  .button_shop {
    display: none;
  }

  .nav_burger {
    display: initial;
  }
  .intro {
    flex-direction: column;
    padding-top: 122px;
  }

  .container {
    width: 100%;
  }

  .intro__container {
    padding-right: 32px;
    padding-left: 32px;
    margin: 0;
  }

  .intro__inner {
    gap: 25px;
  }

  .img-basket {
    width: 100%;
    aspect-ratio: 768 / 539;
    object-fit: cover;
  }

  .welcome {
    font: 600 76px / 1 "Inter Tight", sans-serif;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }

  .description {
    font: 500 16px / 1.25 "Inter Tight", sans-serif;
    color: #fbfbfb;
    padding-right: 30px;
  }

  .intro.second {
    padding: 0;
  }

  .intro .container {
    width: 100%;
  }

  .intro .container.last {
    padding: 64px 100 px;
  }

  .container__white {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .rev {
    width: 100%;
  }

  .reviews {
    padding-top: 50px;
    display: grid;
  }

  .container__veg {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
  }

  .vegetables__top {
    padding-top: 80px;
  }

  .vegetables {
    padding-bottom: 0px;
  }

  .vegetables__cards {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .card {
    border-radius: 40px;
    padding: 32px 26px;
    width: 100%;
    background: #fbfbfb;
  }

  .vegetables__top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-right: 0px;
  }

  .vegetables__top p {
    font: 600 64px / 1 "Inter Tight", sans-serif;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }

  .vegetables__description {
    font: 500 14px / 1.25 "Inter Tight", sans-serif;
    color: #fbfbfb;
    padding-top: 25px;
  }

  .form_soc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    padding-top: 50px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 50px;
    width: 100%;
    background: #fbfbfb;
  }

  .social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    padding: 50px;
    width: 100%;
    background: #576f35;
  }

  .container__order {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form_soc {
    padding-left: 0px;
    padding-right: 0px;
  }

  .order__txt {
    padding-left: 32px;
    padding-right: 96px;
  }

  .container__rev {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
  }

  .Advertisement {
    padding-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .adaptive {
    width: 100%;
  }
}
